root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,markdown}]
insert_final_newline = false
trim_trailing_whitespace = false

[*.py]
max_line_length = 79

[*.rst]
indent_size = 2
max_line_length = 79
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[Makefile]
indent_style = tab
