{% extends "lodbase.html" %}

{% block title %}RDFLib LOD Server{% endblock %}

 {% block body %}
{{super()}}
<h1>Welcome to the {{config["dbname"]}} RDFLib LOD Server</h1>

<p>This is a <a href="http://linkeddata.org">Linked Open Data</a> like server for <a href="http://code.google.com/p/rdflib/">rdflib</a>.
    A <a href="http://www.w3.org/TR/rdf-sparql-query/">SPARQL</a> endpoint, conforming to the <a href="http://www.w3.org/TR/rdf-sparql-protocol/">SPARQL Protocol</a> with <a href="http://www.joseki.org/">Joseki</a> extensions is also included.</p>


<hr/>

<h2><a name="download">Bulk Download</a></h2>

<p>You can download this entire dataset as:

<ul>
  <li><a href="{{url_for("lod.download", format_="xml") }}">RDF/XML</a></li>
  <li><a href="{{url_for("lod.download", format_="n3") }}">N3</a></li>
  <li><a href="{{url_for("lod.download", format_="nt") }}">N-Triples</a></li>
</ul>
<hr/>

{% block query %}
<h2><a name='query'>Query:</a></h2>
    <form action="{{url_for("sparql_endpoint.query")}}" name="query" method="GET">
      <textarea rows="10" cols="80" name="query">
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;
PREFIX dc: &lt;http://purl.org/dc/elements/1.1/&gt;

SELECT * WHERE { ?x dc:title ?label . }
      </textarea><br/>
      <label>Result format:</label> <select name="output">
        <option>xml</option>
        <option>json</option>
        <option>html</option>
      </select>
      <br/>
      <label>Force text/plain:</label><input type="checkbox" name="force-accept" /><br/>
      <input type="submit" value="query">
    </form>
{% endblock %}


{% endblock %}
