<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>
	{% if config.js %}
	<script src="{{url_for(**config.js)}}"></script>
	{% endif %}
	{% if config.jssetup %}
	<script>
	  $(document).ready(function() { {{config.jssetup}}; } );
	</script>
	{% endif %}
	<script>
	  $(document).ready(function() { $('table').tablesorter(); });
	</script>
  </head>
  <body>

	<div id="header" class='clearfix'>
	  <div class="container">
		{% block header %}
		{% endblock %}
	  </div>
	</div>

	<div id="main">
	  <div class="container">
    {% block body %}
    {% endblock %}
	  </div>
	</div>

	<div id="footer">
	  <div class="container">
    {% block footer %}

    <div id="versions">running rdflib {{rdflib_version}}, rdflib_web {{rdflib_web_version}} on python {{python_version}} -- processing took __EXECUTION_TIME__s</div>
    {% endblock %}
	  </div>
	</div>

  </body>
</html>
