{% extends "lodbase.html" %}
{% import 'utils.html' as utils %}
{% block body %}
{{super()}}

<div id='classmenu'>
<h2>Classes</h2>
<p>jump to instances of a certain class </p>
{% if types[0].realurl!=None %}

<ul>
{% for t in types %}
<li><a href="#type{{loop.index0}}">{{t.label}}</a></li>
{% endfor %}
</ul>
</div>

<h2>Instances</h2>
{% for t in types %}
<h3><a name="type{{loop.index0}}"><a href='{{t.url}}'>{{t.label}} ({{t.count}})</a></a></h3>
<ul>
{% for r in resources[t.realurl] %}
<li>{{utils.term(r)}}</li>
{% endfor %}
</ul>
{% endfor %}
{% else %}

<ul>
{% for r in resources[None] %}
<li>{{utils.term(r)}}</li>
{% endfor %}
</ul>


{% endif %}

{% endblock %}
