{% extends "lodbase.html" %}
{% import 'utils.html' as utils %}

{% block title %}{{label}} @ {{config["dbname"]}}{% endblock %}

 {% block body %}
{{super()}}


<h1>

  {{label}}
{% if picked %}
<a href="{{url_for('lod.pick', uri=resource)}}"><img src="{{url_for('static', filename='star_active.png')}}" /></a>
{% else %}
<a href="{{url_for('lod.pick', uri=resource)}}"><img src="{{url_for('static', filename='star_inactive.png')}}" /></a>
{% endif %}

  <span class='url'>{{resource}}</span>
</h1>
is-a
<span id="typelist">
	{% for t in types %}
	{{utils.term(t)}}
	{% if t.realurl.__str__() == "http://www.w3.org/1999/02/22-rdf-syntax-ns#Property" %}
	( {{ utils.term(domain) }} &rArr; {{ utils.term(range) }} )
	{% endif %}
	{% if not loop.last %}, {% endif %}
	{% endfor %}
</span>

{% for c in comments %}
<div class='comment'>{{c|safe}}</div>
{% endfor %}

{% block special %}{% endblock %}
{% if outprops %}
<h2>Properties:</h2>
<table>
<thead>
  <tr><th>property</th><th>value</th></tr>
</thead>
{% for p,v in outprops %}
<tr class="{{ loop.cycle('odd', 'even') }}">
  <td>{{utils.term(p)}}</td>
  {% if v.url %}
  <td>{{utils.term(v, withclass=True)}}</td>
  {% else %}
  <td>"{{v.label}}"
  {% if v.lang %} <i>({{v.lang}})</i> {% endif %}
  {% endif %}
</tr>
{% endfor %}
</table>
{% endif %}
{% if inprops %}
<h2>Incoming Properties:</h2>
<table>
<thead>
  <tr><th>node</th><th>property</th></tr>
</thead>
{% for v,p in inprops %}
<tr class="{{ loop.cycle('odd', 'even') }}">
  <td>{{utils.term(v, withclass=True)}}</td>
  {% if p.url %}
  <td>{{utils.term(p)}}</a></td>
  {% else %}
  <td>{{p.label}}
  {% endif %}
</tr>
{% endfor %}
</table>
{% endif %}

<div id="footermenu">

Download as:
{% if type_ %}
<a href="{{url_for('lod.data', type_=type_, label=urilabel, format_='nt') }}">ntriples</a> |
<a href="{{url_for('lod.data', type_=type_, label=urilabel, format_='turtle') }}">turtle</a> |
<a href="{{url_for('lod.data', type_=type_, label=urilabel, format_='xml') }}">rdf/xml</a> |
<a href="{{url_for('lod.data', type_=type_, label=urilabel, format_='json') }}">json-ld</a>
Graph:
<a href="{{url_for('lod.rdfgraph', type_=type_, label=urilabel, format_='png') }}">png</a> |
<a href="{{url_for('lod.rdfgraph', type_=type_, label=urilabel, format_='pdf') }}">pdf</a> |
<a href="{{url_for('lod.rdfgraph', type_=type_, label=urilabel, format_='svg') }}">svg</a> |
<a href="{{url_for('lod.rdfgraph', type_=type_, label=urilabel, format_='dot') }}">dot</a>

{% else %}

<a href="{{url_for('lod.data', label=urilabel, format_='nt') }}">ntriples</a> |
<a href="{{url_for('lod.data', label=urilabel, format_='n3') }}">n3</a> |
<a href="{{url_for('lod.data', label=urilabel, format_='xml') }}">rdf/xml</a> |
<a href="{{url_for('lod.data', label=urilabel, format_='json') }}">json-ld</a>
|
Graph:
<a href="{{url_for('lod.rdfgraph', label=urilabel, format_='png') }}">png</a> |
<a href="{{url_for('lod.rdfgraph', label=urilabel, format_='pdf') }}">pdf</a> |
<a href="{{url_for('lod.rdfgraph', label=urilabel, format_='svg') }}">svg</a> |
<a href="{{url_for('lod.rdfgraph', label=urilabel, format_='dot') }}">dot</a>

{% endif %}
</div>

{% endblock %}
