{% macro tree(items) %}
<ul>
{% for node,children in items recursive %}
	{% if node is mapping %}
        {% set node=[node] %}
	{% endif %}
    <li>
	{{ term(node) }}
	{% if children %}
		<ul>
		{{ loop(children) }}
		</ul>
	{% endif %}
	</li>
{% endfor %}
</ul>
{% endmacro %}

{% macro term(t, withpicker=True, withclass=False) %}

{% if t is not mapping %}

{% for x in t %}
{{ term(x, withpicker, withclass) }}
{{ ", " if not loop.last }}
{% endfor %}

{% else %}
<span class='term'>
  <a class="{{'external' if t.external }}" href="{{t.url}}">{{t.label}}</a>
  {% if withpicker %}

	  {% if t.picked %}
	  <a class='picker' style="display: inline" href="{{url_for('lod.pick', uri=t.realurl)}}"><img src="{{url_for('static', filename='star_active.png')}}" /></a>
	  {% else %}
	  <a class='picker hidden' style="display: none" href="{{url_for('lod.pick', uri=t.realurl)}}"><img src="{{url_for('static', filename='star_inactive.png')}}" /></a>
	  {% endif %}
   {% endif %}
</span>

{% if withclass and t.type%}
<br/>
<span class='termtype'>a {{term(t.type, withpicker=False)}}</span>
{% endif %}

{% endif %}

{% endmacro %}
